{% extends "layout.njk" %}

{% block title %}
  HomeLayout
{% endblock %}

{% block contentIntro %}
  <div>
    <h1 class="display-2 text-center mt-5 text-primary font-weight-bold">
      Welcome to the new Decathlon's Website
    </h1>
  </div>
{% endblock %}

{% block List %}

{% endblock %}
